# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# SQLite (optional)
*.sqlite3
*.db

# Testing
htmlcov/
.coverage
.tox/

# Pipenv/Poetry
Pipfile.lock
poetry.lock

# Node (if any)
node_modules/

# Static builds
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS-specific
Thumbs.db